@import '../style.css';
@media (min-width: 900px) {
    .chart-area {
        width: 66%;
    }
}

.chart-area > .chart-detail {
    position: relative;
    margin: 1em auto;
}
.chart-area > .chart-detail > .caption {
    display: block;
    text-align: right;
}

.chart-area > .not-selected {
    text-align: center;
}
.chart-area > .not-selected p {
    font-size: 18px;
    color: #888;
}