@import '../style.css';
/* -------------------- 

    都道府県一覧

-------------------- */
.pref-area {
    padding-bottom: 1em;
    border-bottom: 1px solid #888;
}

@media (min-width: 900px) {
    .pref-area {
        width: 33%;
        border-bottom: none;
        border-right: 1px solid #888;
    }
}

.pref-selected p {
    display: inline-block;
}
        
.pref-list {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #888;
    padding: 4px 0;
    max-height: 300px;
    overflow-y: auto;
}
@media (min-width: 900px) {
    .pref-list {
        border: none;
        padding: 0;
        max-height: none;
        overflow-y: visible;
    }
}

/* 3,4カラムレイアウトflexboxの左揃え */
.pref-list::before, .pref-list::after {
    content: "";
    width: 33%;
    display: block;
    height: 0;
}
.pref-list::before { order: 1; }

@media (min-width: 480px) and (max-width: 899px) {
    .pref-list::before, .pref-list::after { 
        width: 25%;
    }
}